/*
MAIN CSS

En este archivo se definiran los colores a modo de paleta

*/

:root {
    --white: #FFFFFF;
    --color_background_1: #2a2a2a;
    --color_background_2: #3b3b3b;
    --color_font: #e3e3e3;
    --main_color_1: #89D0C6;
    --main_color_2: #3a6458;
    --secondary_color_1: #C8E6C9;
    --secondary_color_2: #A3D8F4;

    --redondeado:5px;
}


/*

