/*
MAIN CSS

En este archivo se definiran los colores a modo de paleta

*/

:root {
    --white: #FFFFFF;
    --color_background: #d4d4d4;
    --dark-gray: #333333;
    --mint: #89D0C6;
    --dark_mint: #3a6458;
    --lime: #C8E6C9;
    --light-blue: #A3D8F4;

    --redondeado:5px;
}