/*
■ Primera seccion
*/


/*Tamaño del primer parallax*/
.parallax-window_1{
    min-height: 1080px;
}

/*Oscurecer un poco la imagen principal*/
.overlay{
    background: rgba(0,0,0,0.5);
}


/*Caja central del home page*/
.presentacion {
    position: relative;
    top:450px;
    color: var(--white);
    text-align: center;

}

.presentacion .titulo{
    font-size: 50px;
    font-family: "Source Sans Pro Bold",sans-serif;
}

.presentacion .info{
    font-size: 25px;
}

/*
■ Segunda seccion
*/

section{
    background-color: var(--color_background_1);
}


